.gradle
build
out
.idea
bin
*.iml
*.class
bin
.classpath
.project
.DS_Store

doc/framework
node_modules

src/main/kotlin/Main.kt
.ci/doc/java-project/libs/
.ci/doc/java-project/src/main/java/SnippetTest.java
.ci/doc/kotlin-project/src/main/java/SnippetTest.kt 
.ci/doc/kotlin-project/libs/ 
